

.signup-main {
    display: block;
    position:relative;
    width: 500px;
    border: 1px solid lightgray;
}

.signup-container {

}

.signup-input-fields {
    display:inline;
    margin: 20px;
}